<html>
<head>
<title>withdraw.fxml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #959dcb;}
.s1 { color: #ffcb6b; font-style: italic;}
.s2 { color: #89ddf7;}
.s3 { color: #c3e88d;}
.s4 { color: #959dcb;}
.s5 { color: #f07178;}
</style>
</head>
<body bgcolor="#292d3e">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
withdraw.fxml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s3">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s3">=&quot;UTF-8&quot;</span><span class="s0">?&gt;</span>

<span class="s0">&lt;?</span><span class="s1">import </span><span class="s3">com.jfoenix.controls.JFXButton</span><span class="s0">?&gt;</span>
<span class="s0">&lt;?</span><span class="s1">import </span><span class="s3">com.jfoenix.controls.JFXTextField</span><span class="s0">?&gt;</span>
<span class="s0">&lt;?</span><span class="s1">import </span><span class="s3">javafx.scene.control.Label</span><span class="s0">?&gt;</span>
<span class="s0">&lt;?</span><span class="s1">import </span><span class="s3">javafx.scene.image.Image</span><span class="s0">?&gt;</span>
<span class="s0">&lt;?</span><span class="s1">import </span><span class="s3">javafx.scene.image.ImageView</span><span class="s0">?&gt;</span>
<span class="s0">&lt;?</span><span class="s1">import </span><span class="s3">javafx.scene.layout.AnchorPane</span><span class="s0">?&gt;</span>
<span class="s0">&lt;?</span><span class="s1">import </span><span class="s3">javafx.scene.text.Font</span><span class="s0">?&gt;</span>


<span class="s2">&lt;</span><span class="s5">AnchorPane </span><span class="s1">prefHeight</span><span class="s3">=&quot;400.0&quot; </span><span class="s1">prefWidth</span><span class="s3">=&quot;700.0&quot; </span><span class="s1">xmlns</span><span class="s3">=&quot;http://javafx.com/javafx/8.0&quot; </span><span class="s1">xmlns:fx</span><span class="s3">=&quot;http://javafx.com/fxml/1&quot; </span><span class="s1">fx:controller</span><span class="s3">=&quot;sample.controller.WithdrawalController&quot;</span><span class="s2">&gt;</span>
   <span class="s2">&lt;</span><span class="s5">children</span><span class="s2">&gt;</span>
      <span class="s2">&lt;</span><span class="s5">AnchorPane </span><span class="s1">prefHeight</span><span class="s3">=&quot;80.0&quot; </span><span class="s1">prefWidth</span><span class="s3">=&quot;700.0&quot; </span><span class="s1">style</span><span class="s3">=&quot;-fx-background-color: #FFCD98;&quot;</span><span class="s2">&gt;</span>
         <span class="s2">&lt;</span><span class="s5">children</span><span class="s2">&gt;</span>
            <span class="s2">&lt;</span><span class="s5">Label </span><span class="s1">layoutX</span><span class="s3">=&quot;281.0&quot; </span><span class="s1">layoutY</span><span class="s3">=&quot;23.0&quot; </span><span class="s1">text</span><span class="s3">=&quot;Withdrawal &quot;</span><span class="s2">&gt;</span>
               <span class="s2">&lt;</span><span class="s5">font</span><span class="s2">&gt;</span>
                  <span class="s2">&lt;</span><span class="s5">Font </span><span class="s1">name</span><span class="s3">=&quot;System Bold&quot; </span><span class="s1">size</span><span class="s3">=&quot;24.0&quot; </span><span class="s2">/&gt;</span>
               <span class="s2">&lt;/</span><span class="s5">font</span><span class="s2">&gt;</span>
            <span class="s2">&lt;/</span><span class="s5">Label</span><span class="s2">&gt;</span>
            <span class="s2">&lt;</span><span class="s5">ImageView </span><span class="s1">fx:id</span><span class="s3">=&quot;WithdrawBackImage&quot; </span><span class="s1">fitHeight</span><span class="s3">=&quot;70.0&quot; </span><span class="s1">fitWidth</span><span class="s3">=&quot;67.0&quot; </span><span class="s1">layoutX</span><span class="s3">=&quot;14.0&quot; </span><span class="s1">layoutY</span><span class="s3">=&quot;5.0&quot; </span><span class="s1">pickOnBounds</span><span class="s3">=&quot;true&quot; </span><span class="s1">preserveRatio</span><span class="s3">=&quot;true&quot;</span><span class="s2">&gt;</span>
               <span class="s2">&lt;</span><span class="s5">image</span><span class="s2">&gt;</span>
                  <span class="s2">&lt;</span><span class="s5">Image </span><span class="s1">url</span><span class="s3">=&quot;@../assets/image-asset.png&quot; </span><span class="s2">/&gt;</span>
               <span class="s2">&lt;/</span><span class="s5">image</span><span class="s2">&gt;</span>
            <span class="s2">&lt;/</span><span class="s5">ImageView</span><span class="s2">&gt;</span>
         <span class="s2">&lt;/</span><span class="s5">children</span><span class="s2">&gt;</span>
      <span class="s2">&lt;/</span><span class="s5">AnchorPane</span><span class="s2">&gt;</span>
      <span class="s2">&lt;</span><span class="s5">JFXTextField </span><span class="s1">fx:id</span><span class="s3">=&quot;WithdrawAccountAmountToWithdraw&quot; </span><span class="s1">focusColor</span><span class="s3">=&quot;#424242&quot; </span><span class="s1">layoutX</span><span class="s3">=&quot;174.0&quot; </span><span class="s1">layoutY</span><span class="s3">=&quot;142.0&quot; </span><span class="s1">prefHeight</span><span class="s3">=&quot;29.0&quot; </span><span class="s1">prefWidth</span><span class="s3">=&quot;353.0&quot; </span><span class="s1">promptText</span><span class="s3">=&quot;Enter a withdrawal amount&quot; </span><span class="s1">unFocusColor</span><span class="s3">=&quot;#ff6659&quot; </span><span class="s2">/&gt;</span>
      <span class="s2">&lt;</span><span class="s5">Label </span><span class="s1">fx:id</span><span class="s3">=&quot;WithdrawalAnswerLabel&quot; </span><span class="s1">alignment</span><span class="s3">=&quot;CENTER&quot; </span><span class="s1">layoutX</span><span class="s3">=&quot;185.0&quot; </span><span class="s1">layoutY</span><span class="s3">=&quot;291.0&quot; </span><span class="s1">prefHeight</span><span class="s3">=&quot;35.0&quot; </span><span class="s1">prefWidth</span><span class="s3">=&quot;330.0&quot;</span><span class="s2">&gt;</span>
         <span class="s2">&lt;</span><span class="s5">font</span><span class="s2">&gt;</span>
            <span class="s2">&lt;</span><span class="s5">Font </span><span class="s1">name</span><span class="s3">=&quot;System Bold&quot; </span><span class="s1">size</span><span class="s3">=&quot;24.0&quot; </span><span class="s2">/&gt;</span>
         <span class="s2">&lt;/</span><span class="s5">font</span><span class="s2">&gt;</span>
      <span class="s2">&lt;/</span><span class="s5">Label</span><span class="s2">&gt;</span>
      <span class="s2">&lt;</span><span class="s5">JFXButton </span><span class="s1">fx:id</span><span class="s3">=&quot;WithdrawalExit&quot; </span><span class="s1">layoutX</span><span class="s3">=&quot;33.0&quot; </span><span class="s1">layoutY</span><span class="s3">=&quot;341.0&quot; </span><span class="s1">prefHeight</span><span class="s3">=&quot;55.0&quot; </span><span class="s1">prefWidth</span><span class="s3">=&quot;104.0&quot; </span><span class="s1">style</span><span class="s3">=&quot;-fx-background-color: #ff0000;&quot; </span><span class="s1">text</span><span class="s3">=&quot;EXIT&quot; </span><span class="s1">textFill</span><span class="s3">=&quot;WHITE&quot;</span><span class="s2">&gt;</span>
         <span class="s2">&lt;</span><span class="s5">font</span><span class="s2">&gt;</span>
            <span class="s2">&lt;</span><span class="s5">Font </span><span class="s1">name</span><span class="s3">=&quot;System Bold&quot; </span><span class="s1">size</span><span class="s3">=&quot;15.0&quot; </span><span class="s2">/&gt;</span>
         <span class="s2">&lt;/</span><span class="s5">font</span><span class="s2">&gt;</span>
      <span class="s2">&lt;/</span><span class="s5">JFXButton</span><span class="s2">&gt;</span>
      <span class="s2">&lt;</span><span class="s5">Label </span><span class="s1">fx:id</span><span class="s3">=&quot;MenuAcountNumberLabel&quot; </span><span class="s1">layoutX</span><span class="s3">=&quot;14.0&quot; </span><span class="s1">layoutY</span><span class="s3">=&quot;98.0&quot; </span><span class="s1">prefHeight</span><span class="s3">=&quot;53.0&quot; </span><span class="s1">prefWidth</span><span class="s3">=&quot;154.0&quot; </span><span class="s1">text</span><span class="s3">=&quot;Account Number:&quot; </span><span class="s1">textFill</span><span class="s3">=&quot;#2000ff&quot;</span><span class="s2">&gt;</span>
         <span class="s2">&lt;</span><span class="s5">font</span><span class="s2">&gt;</span>
            <span class="s2">&lt;</span><span class="s5">Font </span><span class="s1">name</span><span class="s3">=&quot;System Bold&quot; </span><span class="s1">size</span><span class="s3">=&quot;18.0&quot; </span><span class="s2">/&gt;</span>
         <span class="s2">&lt;/</span><span class="s5">font</span><span class="s2">&gt;</span>
      <span class="s2">&lt;/</span><span class="s5">Label</span><span class="s2">&gt;</span>
      <span class="s2">&lt;</span><span class="s5">Label </span><span class="s1">fx:id</span><span class="s3">=&quot;WithdrawalNumberFieldLabel&quot; </span><span class="s1">alignment</span><span class="s3">=&quot;CENTER&quot; </span><span class="s1">contentDisplay</span><span class="s3">=&quot;CENTER&quot; </span><span class="s1">layoutX</span><span class="s3">=&quot;34.0&quot; </span><span class="s1">layoutY</span><span class="s3">=&quot;151.0&quot; </span><span class="s1">prefHeight</span><span class="s3">=&quot;35.0&quot; </span><span class="s1">prefWidth</span><span class="s3">=&quot;113.0&quot; </span><span class="s1">style</span><span class="s3">=&quot;-fx-background-color: #EC9670;&quot; </span><span class="s1">textAlignment</span><span class="s3">=&quot;CENTER&quot;</span><span class="s2">&gt;</span>
         <span class="s2">&lt;</span><span class="s5">font</span><span class="s2">&gt;</span>
            <span class="s2">&lt;</span><span class="s5">Font </span><span class="s1">name</span><span class="s3">=&quot;System Bold&quot; </span><span class="s1">size</span><span class="s3">=&quot;24.0&quot; </span><span class="s2">/&gt;</span>
         <span class="s2">&lt;/</span><span class="s5">font</span><span class="s2">&gt;</span>
      <span class="s2">&lt;/</span><span class="s5">Label</span><span class="s2">&gt;</span>
      <span class="s2">&lt;</span><span class="s5">JFXButton </span><span class="s1">fx:id</span><span class="s3">=&quot;WithdrawButton&quot; </span><span class="s1">layoutX</span><span class="s3">=&quot;247.0&quot; </span><span class="s1">layoutY</span><span class="s3">=&quot;218.0&quot; </span><span class="s1">prefHeight</span><span class="s3">=&quot;53.0&quot; </span><span class="s1">prefWidth</span><span class="s3">=&quot;207.0&quot; </span><span class="s1">style</span><span class="s3">=&quot;-fx-background-color: #424242;&quot; </span><span class="s1">text</span><span class="s3">=&quot;Withdraw&quot; </span><span class="s1">textFill</span><span class="s3">=&quot;WHITE&quot;</span><span class="s2">&gt;</span>
         <span class="s2">&lt;</span><span class="s5">font</span><span class="s2">&gt;</span>
            <span class="s2">&lt;</span><span class="s5">Font </span><span class="s1">name</span><span class="s3">=&quot;System Bold&quot; </span><span class="s1">size</span><span class="s3">=&quot;15.0&quot; </span><span class="s2">/&gt;</span>
         <span class="s2">&lt;/</span><span class="s5">font</span><span class="s2">&gt;</span>
      <span class="s2">&lt;/</span><span class="s5">JFXButton</span><span class="s2">&gt;</span>
   <span class="s2">&lt;/</span><span class="s5">children</span><span class="s2">&gt;</span>
<span class="s2">&lt;/</span><span class="s5">AnchorPane</span><span class="s2">&gt;</span>
</pre>
</body>
</html>